In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [4]:
df=pd.read_csv('dementia_dataset.csv')

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
df['Group'].unique()

array(['Nondemented', 'Demented', 'Converted'], dtype=object)

In [7]:
df=df.replace('Nondemented', 0).replace('Demented', 1).replace('Converted',2)

In [8]:
df1=df.drop(['Subject ID', 'MRI ID'], axis=1)
df1

,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,0,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,0,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,1,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,1,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,1,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,1,2,842,M,R,82,16,1.0,28.0,0.5,1693,0.694,1.037
369,1,3,2297,M,R,86,16,1.0,26.0,0.5,1688,0.675,1.040
370,0,1,0,F,R,61,13,2.0,30.0,0.0,1319,0.801,1.331
371,0,2,763,F,R,63,13,2.0,30.0,0.0,1327,0.796,1.323
372,0,3,1608,F,R,65,13,2.0,30.0,0.0,1333,0.801,1.317

In [10]:
df1= pd.get_dummies(df1)
df1

,Group,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,M/F_F,M/F_M,Hand_R
0,0,1,0,87,14,2.0,27.0,0.0,1987,0.696,0.883,False,True,True
1,0,2,457,88,14,2.0,30.0,0.0,2004,0.681,0.876,False,True,True
2,1,1,0,75,12,NaN,23.0,0.5,1678,0.736,1.046,False,True,True
3,1,2,560,76,12,NaN,28.0,0.5,1738,0.713,1.010,False,True,True
4,1,3,1895,80,12,NaN,22.0,0.5,1698,0.701,1.034,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,1,2,842,82,16,1.0,28.0,0.5,1693,0.694,1.037,False,True,True
369,1,3,2297,86,16,1.0,26.0,0.5,1688,0.675,1.040,False,True,True
370,0,1,0,61,13,2.0,30.0,0.0,1319,0.801,1.331,True,False,True
371,0,2,763,63,13,2.0,30.0,0.0,1327,0.796,1.323,True,False,True
372,0,3,1608,65,13,2.0,30.0,0.0,1333,0.801,1.317,True,False,True